<html>
    <body>
        <form action = "http://localhost:5000/login/try" method = "post">
            <p>ID : <input type = "text" name = "triplin_id"></p>
            <p>Password : <input type = "password" name = "triplin_password"></p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color:#fc6464">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p><input type = "submit" name="login" value="Login"></p>
        </form>
    </body>
</html>